@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-birthstone: "Birthstone", cursive;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-raleway);
  scroll-behavior: smooth;
  background-color: #0b1c24; /* Default dark background */
}

/* Custom transitions and scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}